<div class="uk-padding-large uk-child-width-1-1" uk-grid>
  <h3>Tu perfil, {{user.firstname}}</h3>
  <ul>
    <li>Nombre: {{user.firstname}} {{user.lastname}}</li>
    <li>Email: {{user.email}}</li>
    <li>Edad: {{user.age}}</li>
    <li>Genero: {{user.gender}}</li>
    <li>Rol: {{user.role}}</li>
  </ul>
</div>