<div class="uk-padding-large uk-child-width-1-1" uk-grid>
  <h3>Tu perfil, {{firstname}}</h3>
  <ul>
    <li>Nombre: {{firstname}} {{lastname}}</li>
    <li>Email: {{email}}</li>
    <li>Edad: {{age}}</li>
    <li>Genero: {{gender}}</li>
    <li>Rol: {{role}}</li>
  </ul>
</div>